$translateY-1px: translateY(1px);

.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.31px;
    line-height: 1;
    text-decoration: none;
    color: rgb(54, 54, 54);
    padding: 1.2rem 2.1rem;
    background-color: hsl(0, 27%, 96%);
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    border: none;
    border-radius: 27px;
    outline: none;
    transition: 0.3s ease-in-out;

    &:focus {
      outline: none;
    }
    &:hover {
      transform: translateY(-3px);
      background-color: hsl(0, 13%, 87%);
    }

    &:active {
      transform: $translateY-1px;
    }
  }

  &.btn-search {
    position: absolute;
    padding: 6px 8px;
    right: 14px;
    top: 11px;
    background-color: transparent;

    &:hover {
      transform: translateY(-3px);
      background-color: hsl(0, 0%, 91%);
    }
  }

  &.btn-heart {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    padding: 0;
    background-color: transparent;

    &:hover {
      transform: translateY(0);
      background-color: transparent;
    }

    & .material-heart {
      font-size: 24px;
      color: #d7d7d7;
    }

    &-title2 {
      display: inline-block;
      font-weight: 600;
      font-size: 1.2rem;
      letter-spacing: 0.27px;
      color: #d7d7d7;
    }
  }
}
